{
  debug

  # Enable h2c transport for GRPC
	servers {
		protocols h1 h2 h2c
	}

  # Enable GRPC plugin
  order grpc_web before reverse_proxy
}

http://localhost {

  route /gate/* {
      uri strip_prefix /gate
      reverse_proxy h2c://192.168.1.93:50051
  }

  root * /app/dist
  route {
    try_files {path} {path}/ /index.html
    file_server
  }
}
